@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .box{
        display: flex;
        justify-content: space-between;
        margin-block: 10px;
    }
    
    .box img{
        width: 17px;
    }

    .box div p{
        width: 300px;
    }

    @media screen  and (min-width:1440px){
        body{
            background-color: hsl(235, 18%, 26%);
        }
        .box div p{
            width: 320px;
        }
    }
}